<div *ngIf="isLoaded === true">
    <div class="drink-info">
        <div class="drink-info-item" *ngFor="let bartenderDrinkInfo of bartenderDrinkInfos">
            <div class="text-primary drink-text">
                {{ bartenderDrinkInfo.drink }}
            </div>
            <div class="text-primary price-text">
                {{ bartenderDrinkInfo.roundedPrice }}€
            </div>
            <div class="text-secondary slope-info">
                {{ bartenderDrinkInfo.price }}€
                <mat-icon class="text-secondary arrow">arrow_right_alt</mat-icon>
                {{ bartenderDrinkInfo.expectedPrice }}€
            </div>
            <div class="text-secondary">
                slope={{ bartenderDrinkInfo.slope }}
            </div>
        </div>
    </div>
</div>


<div class="overlay" *ngIf="isLoaded === false">
    <div class="center">
        <mat-spinner></mat-spinner>
    </div>>
</div>

<div class="overlay" [ngClass]="showOverlay ? 'fade-in' : 'fade-out'" *ngIf="isLoaded === false">
    <div class="bottom-center">
        <div class="horizontal">
            <mat-icon>view_column</mat-icon>
            <mat-slider (mousedown)="sliderMouseDown()" thumbLabel min="1" max="5" [(ngModel)]="cols"></mat-slider>
        </div>

    </div>
</div>