.drink-info {
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    background-color: crimson;
}

.drink-info-item {
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
    background-color: aqua;
}

.slope-info {
    display: flex;
    align-items: center;
}

.arrow {
    background-color: purple;
}

.drink-text {
    background-color: red;
}

.price-text {
    background-color: green;
    justify-self: end;
}






.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(1, 1, 1, 0.4);
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.settings {
    position: relative;
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 50vw;
    /* TODO not sure why 30vw is so large here*/
    height: 30vw;
    justify-content: center;
    align-content: center;
    background: rgba(1, 1, 1, 0.6);
}

.settings-close {
    top: 0px;
    right: 0px;
    font-size: 40px;
    height: 40px;
    width: 40px;
    padding: 0px;
    border-width: 0px;
    grid-column: 1 / span 2;
    justify-self: end;
    margin-bottom: 20px;
}

.settings-close>mat-icon {
    width: 40px;
    height: 40px;
    font-size: 40px;
}


.settings-label {
    display: flex;
    font-size: 40px;
    background-color: blue;
    align-items: center;
}

.settings-label-icon {
    font-size: 40px;
    height: 40px;
    width: 40px;
    background-color: green;
}

.settings-slider-info {
    font-size: 40px;
    background-color: brown;
    justify-self: end;
}


.fade-in {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

mat-slide-toggle {
    justify-self: end;
}

mat-slider {
    grid-column: 1 / span 2;
}